.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row > button {
    width: 20%; 
    display: flex;
    align-items: center;
    text-align: center;
}

button {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border-style: none;
    margin: 15px;
    padding: 15px;
    height: 2rem;
    box-shadow: 5px 5px 5px #666666,
        -5px -5px 5px #999999;
    border-radius: 5px;
}

button:hover, button:focus {
    box-shadow: 7px 7px 7px #666666,
        -7px -7px 7px #999999;
    outline: none;
    background-color: #333333;
    color: #cccccc;
}

button.sink {
    box-shadow: inset 5px 5px 5px #666666,
        inset -5px -5px 5px #999999;
    border-radius: 10px;
}